body {
    background-color: white;
    animation-name: backgroundAnimation;
    animation-duration: 12s;
    animation-fill-mode: forwards;
}

@keyframes backgroundAnimation {
    0% {
        background-color: white;
    }

    33% {
        background-color: white;
    }

    34% {
        background-color: purple;
    }

    100% {
        background-color: purple;
    }
}

.pulser {
    width: 100px;
    height: 10px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 12s;
    animation-fill-mode: forwards;
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    8% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    16% {
        background-color: blue;
        left: 200px;
        top: 0px;
        transform: rotate(45deg);
    }

    25% {
        background-color: green;
        left: 230px;
        top: 30px;
        transform: rotate(45deg);
    }

    30% {
        background-color: red;
        left: 265px;
        top: 70px;
        opacity: 1;
        transform: rotate(45deg);
    }

    33% {
        background-color: red;
        left: 265px;
        top: 70px;
        opacity: 1;
        transform: rotate(45deg);
    }

    66% {
        background-color: red;
        left: 265px;
        top: 70px;
        transform: rotate(45deg);
    }

    72% {
        background-color: yellow;
        left: 230px;
        top: 30px;
        transform: rotate(45deg);
    }

    82% {
        background-color: blue;
        left: 200px;
        top: 0px;
        transform: rotate(45deg);
    }

    91% {
        background-color: green;
        left: 200px;
        top: 0px;
        transform: rotate(0deg);
    }

    96% {
        background-color: red;
        left: 100px;
        top: 0px;
        transform: rotate(0deg);
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
        opacity: 1;
        transform: rotate(0deg);
    }
}

.pulser1 {
    width: 100px;
    height: 10px;
    background-color: red;
    position: relative;
    animation-name: example1;
    animation-duration: 12s;
    animation-fill-mode: forwards;
}

@keyframes example1 {

    0% {
        background-color: red;
        left: 0px;
        top: 50px;
    }

    8% {
        background-color: yellow;
        left: 200px;
        top: 50px;
    }

    16% {
        background-color: blue;
        left: 200px;
        top: 50px;
    }

    25% {
        background-color: green;
        left: 230px;
        top: 50px;
    }

    30% {
        background-color: red;
        left: 265px;
        top: 50px;
        opacity: 0;
    }

    33% {
        background-color: red;
        left: 265px;
        top: 50px;
        opacity: 0;
    }

    66% {
        background-color: red;
        left: 265px;
        top: 50px;
        opacity: 0;
    }

    72% {
        background-color: yellow;
        left: 265px;
        top: 50px;
        opacity: 1;
    }

    82% {
        background-color: blue;
        left: 230px;
        top: 50px;
    }

    91% {
        background-color: green;
        left: 200px;
        top: 50px;
    }

    96% {
        background-color: red;
        left: 150px;
        top: 50px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 50px;
    }
}

.pulser2 {
    width: 100px;
    height: 10px;
    background-color: red;
    position: relative;
    animation-name: example2;
    animation-duration: 12s;
    animation-fill-mode: forwards;
}

@keyframes example2 {

    0% {
        background-color: red;
        left: 0px;
        top: 100px;
    }

    8% {
        background-color: yellow;
        left: 200px;
        top: 100px;
    }

    16% {
        background-color: blue;
        left: 200px;
        top: 100px;
        transform: rotate(-45deg);
    }

    25% {
        background-color: green;
        left: 230px;
        top: 70px;
        transform: rotate(-45deg);
    }

    30% {
        background-color: red;
        left: 265px;
        top: 40px;
        opacity: 1;
        transform: rotate(-45deg);
    }

    33% {
        background-color: red;
        left: 265px;
        top: 40px;
        opacity: 1;
        transform: rotate(-45deg);
    }

    66% {
        background-color: red;
        left: 265px;
        top: 40px;
        transform: rotate(-45deg);
    }

    72% {
        background-color: yellow;
        left: 230px;
        top: 70px;
        transform: rotate(-45deg);
    }

    82% {
        background-color: blue;
        left: 200px;
        top: 100px;
        transform: rotate(-45deg);
    }

    91% {
        background-color: green;
        left: 200px;
        top: 100px;
        transform: rotate(0deg);
    }

    96% {
        background-color: red;
        left: 100px;
        top: 100px;
        transform: rotate(0deg);
    }

    100% {
        background-color: red;
        left: 0px;
        top: 100px;
        opacity: 1;
        transform: rotate(0deg);
    }
}

.circle {
    width: 0;
    height: 0;
    border: 0 solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    left: 265px;
    top: 30px; /* Подняли окружность выше */
    animation-name: circleAnimation;
    animation-duration: 12s;
    animation-fill-mode: forwards;
}

@keyframes circleAnimation {
    0% {
        width: 0;
        height: 0;
        border-width: 0;
        opacity: 0;
    }

    30% {
        width: 0;
        height: 0;
        border-width: 0;
        opacity: 0;
    }

    33% {
        width: 70px; /* Уменьшенный размер */
        height: 70px; /* Уменьшенный размер */
        border-width: 10px; /* Толщина окружности */
        opacity: 1;
    }

    66% {
        width: 70px; /* Уменьшенный размер */
        height: 70px; /* Уменьшенный размер */
        border-width: 10px;
        opacity: 1;
    }

    70% {
        width: 0;
        height: 0;
        border-width: 0;
        opacity: 0;
    }

    100% {
        width: 0;
        height: 0;
        border-width: 0;
        opacity: 0;
    }
}
